<div class="container">
  <div class="form-div" id="form">
    <img src="./images/form.png" alt="" class="form-img" />
    <h1 class="form-title">Официальный бланк заявки</h1>
    <p class="blue-text">№29 957 из 30 000 от 21.11.2022г.</p>
    <p class="gray-text">
      На бесплатное получение "Кардисена" по специальной программе
    </p>
    <h1 class="countdown-title">Осталось:</h1>
    <div id="countdown" class="countdown">
      <div class="countdown-number">
        <span class="minutes countdown-time"></span>
        <span class="countdown-text">Минут</span>
      </div> 
      <div class="countdown-number">
        <span class="seconds countdown-time"></span>
        <span class="countdown-text">Секунд</span>
      </div>
    </div>
    <p class="dark-gray-txt">
      Чтобы получить "Кардисен" впишите ваше Имя и контактный Телефон в поля
      ниже и нажмите "Получить бесплатно"
    </p>
    <form action="" class="form">
      <label for="name" class="label">
        Ваше имя:
        <input
          type="text"
          id="name"
          placeholder="Укажите ваше Имя"
          class="input"
        />
      </label>
      <label for="phone" class="label">
        Ваш контактный телефон:
        <input type="tel" id="phone" value="+7(___)___-__-__" class="input" />
      </label>
      <button class="btn">ПОЛУЧИТЬ БЕСПЛАТНО</button>
    </form>
    <p class="dark-gray-txt">
      *Конфиденциально. Ваши данные отправляются напрямую производителю. Никто,
      кроме него, не имеет к ним доступ
    </p>
  </div>
</div>
