.red-text {
  align-self: center;
  color: #ff0000;
}

.title {
  margin-bottom: 0;
}

.data-div {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.title-text {
  align-self: flex-end;
  color: #858585;
  margin: 0;
}

.total-black-text {
  font-weight: bold;
  color: black;
}

.no-bold-text {
  font-weight: 500;
}

@media (max-width: 480px) {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
  }

  .screenshot {
    align-self: center;
    margin: 40px 0 80px;
    width: 310px;
  }

  .images {
    align-self: center;
    width: 348px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .medicine {
    width: 310px;
    align-self: center;
    margin-top: 60px;
    margin-bottom: 40px;
  }
}

@media (min-width: 480px) {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 0 200px;
  }

  .screenshot {
    align-self: center;
    margin: 40px 0 80px;
    width: 735px;
  }

  .images {
    align-self: center;
    width: 1024px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .medicine {
    width: 693px;
    align-self: center;
    margin-top: 60px;
    margin-bottom: 40px;
  }
}
